<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent-a-car</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/select2/css/select2.min.css}">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">

    <!-- Aos CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/aos/aos.css}">

    <!-- Fearther CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">

    <!-- Boxicons CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/boxicons/css/boxicons.min.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="main-wrapper">
    <div th:insert="~{header :: header}"></div>

    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <h3>Log Out</h3>
            <p>Are you sure you want to log out?</p>
            <div class="modal-buttons">
                <button id="cancel">Cancel</button>
                <button id="confirmLogout">OK</button>
            </div>
        </div>
    </div>

    <!-- Renting Yacht  -->
    <section class="renting-yacht-sec">
        <div class="sec-round-colors">
            <span class="bg-orange round-small"></span>
            <span class="bg-orange round-small"></span>
            <span class="bg-orange round-small"></span>
            <span class="bg-dark-blue round-small"></span>
            <span class="bg-dark-blue round-big"></span>
            <span class="bg-orange round-big"></span>
        </div>
        <div class="sec-bg">
            <img src="assets/img/bg/ship-part-bg-01.png" alt="Bg">
        </div>
        <div class="container">
            <div class="section-header-two">
                <h2>Have a car for rent ?</h2>
                <p>Don't miss out on your benefit.
                </p>
            </div>
            <div class="renting-yacht-benifits d-flex align-items-center justify-content-between">
                <ul>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/dollar.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>How the insurance works</h5>
                            <p>From the minute you hand the keys over till the second you get them back, you are
                                covered. Your private insurance is not affected.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/shield.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>It's completely free</h5>
                            <p>
                                We offer both owners and renters free sign-ups. It’s only once a vehicle is rented out
                                that a share is deducted to cover admin and insurance.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/check.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>You decide the price</h5>
                            <p>
                                When you list a car you decide the price. We can help with recommendations as to price,
                                but
                                ultimately you decide!
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="yatcht-center-img">
                    <span><img src="/assets/img/car-right.png" class="img-fluid" alt="Img"></span>
                    <span class="roung-img-bg"></span>
                </div>
                <ul>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/car.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>Handing over your vehicle</h5>
                            <p>
                                You arrange the time and location for the exchange of your vehicle with the renter. Both
                                parties will
                                need to agree and sign the vehicle rental sheet before and after key handover.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/warning.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>You are in charge</h5>
                            <p>All renters are pre-screened by us to ensure safety and get your approval. If you do not
                                feel
                                comfortable with someone, you are able to decline a booking.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="benifit-icon"><img src="imgHomeCarOwner/credit-card.png" alt="icon"></span>
                        <div class="benifit-contents">
                            <h5>Set payment</h5>
                            <p>We pay you once a month and you can always view how much your car has earned under your
                                user
                                profile.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /Renting Yacht -->
    <!-- Boat marketplace -->
    <section class="boats-marketplace-sec">
        <div class="sec-round-colors">
            <span class="bg-orange round-small"></span>
            <span class="bg-dark-blue round-small"></span>
            <span class="bg-dark-blue round-small"></span>
            <span class="bg-dark-blue round-big"></span>
        </div>
        <div class="sec-bg">
            <img src="assets/img/bg/anchor-img.png" alt="Bg">
        </div>
        <div class="container">
            <div class="yacht-owner-card">
                <div class="sec-bg">
                    <img src="assets/img/bg/sec-bg-wave.png" alt="Img">
                </div>
                <div class="yacht-owner-title">
                    <h3>Are you a Car Owner ?</h3>
                    <p>Make money on your car right away.</p>
                    <a th:href="@{/cars/add}" class="btn btn-primary">List Your Car Today</a>
                </div>
                <div class="yacht-owner-img">
                    <img src="assets/img/cars/car-12.jpg" alt="Img">
                </div>
            </div>
        </div>
    </section>
    <!-- /Boat marketplace -->

    <!-- Footer -->
    <div th:insert="~{footer :: footer}"></div>
    <!-- /Footer -->
</div>
<!-- jQuery -->
<script src="/assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- counterup JS -->
<script src="/assets/js/jquery.waypoints.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>

<!-- Select2 JS -->
<script src="/assets/plugins/select2/js/select2.min.js"></script>

<!-- Aos -->
<script src="/assets/plugins/aos/aos.js"></script>

<!-- Top JS -->
<script src="/assets/js/backToTop.js"></script>

<!-- Datepicker Core JS -->
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/script.js"></script>

</body>
</html>